@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Tangerine&display=swap');
html{
  background-color: #F3FFF9;
}

body{
  font-family: 'Catamaran', sans-serif;
  background-color: #FFF8ED;
}

p{
  font-size: 20px;
}

.navbar{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 750px;
}

.navbar a{
  font-size: 20px;
  /* background-color: pink; */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 150px;
}

h1{
  text-align: center;
  color: darkgrey;
}

#subtitle{
  text-align: center;
  font-size: 30px;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* stop navbar from collapsing */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
