@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Tangerine&display=swap');

body{
  font-family: 'Catamaran', sans-serif;
}

p{
  font-size: 20px;
}

.navbar{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 750px;
}

.navbar a{
  font-size: 20px;
  background-color: pink;
  width: 150px;
}

li .active{
  background-color: pink !important;
}

h1{
  text-align: center;
  color: darkgrey;
}

#subtitle{
  text-align: center;
  font-size: 30px;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
